.main-wrapper{
    height: 100%;
    width: 100%;
 
  }
  .main-content-wrapper{
    border-right: solid silver 1px;
  }
  .sidenav-start-wrapper{
    border-right: solid silver 1px;
  }
  .user-wrapper{
    z-index: 1;
  }
  
  .sidenav-wrapper1{
    display: inline-flex;
    flex-direction: column;
    padding-left: 2em;

   
  }
  .header-wrapper{
    border-bottom: solid silver 1px;
    background-color: white !important;
  }

  .sidenav-right-wrapper{
    border-right: solid silver 1px;
    width: 100%;
  }
  .link-wrapper{
    padding-top: 3em;
    padding-right: 3em !important;
  }
  .example-full-width{
    width: 300px;
    border-width: 0px;
    border-radius: 0px;
  }
  .tweet-wrapper{
    width: 150px;
    text-align: center;
    z-index: -2;
  }
  .btn-wrapper{
    width: 150px;
    text-align: center;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 20%/70%;
  }
  
  .example-card {
    max-width:100%;
    background-color: unset;
    color: black;
  }
  
  .example-header-image {
  
    background-size: cover;
  }
  
  
  .textarea-wrapper:focus{
      border: 0 none #FFF;
      overflow: hidden;
      outline:none;
  
  }

  /* modal styling*/

  .pull-right{
    padding-top: 0;
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
  }
 


  
  