:host{
    height: 100%;
}
    mat-icon {
        vertical-align: middle;
        margin-right: 20px;
    
}

.main-content-wrapper {
    position: fixed;
  }

.profile-card{
    padding: 0 20px 20px 20px;
    padding-top: 0 !important;
}
    img{
        width: 100px;
        height: 100px;
        object-fit: cover;
        border-radius: 50%
    }

    .tweet-wrapper{
        width: 150px;
        text-align: center;
        z-index: -2;
      }

      .btn-wrapper{
        width: 150px;
        text-align: center;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 20%/70%;
      }
      a {
          text-decoration: none;
      }

