:host{
    height: 100%;
}
    mat-icon {
        vertical-align: middle;
        margin-right: 20px;
    
}

.main-content-wrapper {
    position: fixed;
  }

.profile-card{
    padding: 0 20px 20px 20px;
    padding-top: 0 !important;
}
    img{
        width: 100px;
        height: 100px;
        object-fit: cover;
        border-radius: 50%
    }

    mat-divider {
        width: 100vw;
    }

    .followers-wrapper{
        display: inline-flex;
    }

    


